.ipynb_checkpoints
.DS_Store
**/.idea
**/__pycache__
**/*.pkl
**/MNIST_data
**/*.zip
**/redacao
**/nao_e_redacao
**/preview
**/GTSRB
**/data
**/*.h5
**/test1
**/train
**/*.gz
**/*.bz2
**/glove.840B.300d.txt
**/*.model
**/*.npy
**/glove.txt
projeto/wiki
**/vectors_pt_wiki.txt
**/wiki.pt.text
**/glove_pt_wiki.txt
**/glove_model.txt
projeto/CETENFolha-1.0
projeto/CHAVEFolha
**/20_newsgroup
**/glove.6B
**/*.dict
**/*.tgz

/nlp/competicao2/submission*.*
/nlp/competicao2/predictions*.txt
/nlp/competicao2/scores*.txt
/nlp/competicao2/*.log